.error {
    color: red;
  }
  .col-md-6 {
    max-width: 100%;
    height: 100vh;
  }
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .form-group {
    margin: 30px;
  }
  
  .signUp {
    margin: 100px;
  }
  
  .btn {
    margin-top: 30px;
  }
  
  form label {
    font-weight: bold;
  }
  
  a {
    font-weight: bold;
    text-decoration: none;
  }
  
  @media only screen and (max-width: 600px) {
    .row {
      flex-direction: column;
    }
  }
  